:root {
  --navyblue: #2e2f42;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --slate: #434455;
  --white: #fff;
  --cloud: #f4f4fd;
  --background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate, #434455);
  background-color: var(--background, #fff);
}

.container{
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid orangered;
  }

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.logo {
  color: var(--iris, #4d5ae5);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-accent {
  color: var(--navyblue, #2e2f42);
}

.header-menu-item {
  color: var(--navyblue, #2e2f42);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-menu-item:hover,
.header-menu-item:focus {
  color: var(--ocean, #404bbf);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address {
  font-style: normal;
}
.adress-list-item {
  color: var(--slate, #434455);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.adress-list-item:hover,
.adress-list-item:focus {
  color: var(--ocean, #404bbf);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
}
.section-one {
  background: var(--navyblue, #2e2f42);
  color: var(--white, #fff);
}
.section-one-title {
  font-size: 56px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.button-index {
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button-index:hover,
.button-index:focus {
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.section-title-item {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.section-four {
  background: var(--cloud, #f4f4fd);
}
.team-card {
  background-color: #ffffff;
}
.p-style {
  font-size: 16px;
  color: var(--slate, #434455);
}
.footer {
  background: var(--navyblue, #2e2f42);
  color: var(--cloud, #f4f4fd);
}
.footter-logo-accent {
  color: var(--cloud, #f4f4fd);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.portfolio-button {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--cloud, #f4f4fd);
  color: var(--iris, #4d5ae5);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
  border: 1px solid var(--cornflower, #e7e9fc);
  background: var(--ocean, #404bbf);
  color: var(--white, #fff);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}
